html,body,div,p,h3{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #333;
}
.btn-modal{
	display: inline-block;
	width: 100px;
	line-height: 20px;
	cursor: pointer;
	border-radius: 5px;
	background: #eee;
}
.modal-dialog{
	display: none;
}
.cover{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.4;
    z-index: 99;
}
.modal-ct{
	position: fixed;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    /*-webkit-transform: translate(-50%, -50%);*/
	width: 400px;
	border-radius: 3px;
	background: #fff;
	z-index: 100;
}
.header{
	position: relative;
	line-height: 30px;
	border-bottom: 1px solid #ccc;
	background: #eee;
}
.close{
	position: absolute;
	right: 10px;
	top: 15px;
	line-height: 1px;
	text-decoration: none;
}
.content{
	padding: 10px;
	height: 200px;
}
.btn{
     float: right;
     margin-right: 10px;
     margin-bottom: 5px;
}
.footer{
	cursor: pointer;
}
.btn{
	display: inline-block;
	border: 1px solid #eee;
	background: #666;
	width: 100px;
	line-height: 30px;
	text-align: center;
}